* {
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;

}

.user-container {
  background-color: #a9bdce;
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.user-container>label {
  font-size: 14px;
  margin-right: 1rem;
}

.user-container>input {
  border-radius: 3px;
  border: none;
  height: 100%;
}

.display-container {
  background-color: #b2c7d9;
  flex: 12;
  overflow-y: scroll;
}

.input-container {
  flex: 1;
}

.input-container>span {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0.3rem;
  gap: 10px;
}

.chatting-input {
  height: 100%;
  flex: 8;
  border: 2px solid black;
}

.send-button {
  flex: 1;
  background-color: #ffdd33;
  border: none;
  border-radius: 3px;
  height: 80%;
}

.profile img {
  width: 50px;
}

.chatting-list li {
  width: 70%;
  padding: 0.3rem;
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  flex: 1;
}

.message {
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 12px;
  margin: 0 5px;
  flex: 7;
}

.time {
  font-size: 10px;
  margin: 0 5px;
}

.sent{
  margin-left: auto;
  flex-direction: row-reverse;
}

.sent .message {
  background-color: #ffeb33;
  ;
}

.received .message {
  background-color: #fff;
}